-f https://download.pytorch.org/whl/torch/
-f https://download.pytorch.org/whl/torchvision/
accelerate==0.21.0
diffusers==0.18.2
fastapi==0.100.0
huggingface-hub==0.16.4
numpy==1.24.4
pydantic==2.0.2
pydantic_core==2.1.2
requests==2.31.0
tokenizers==0.13.3
torch==2.0.1+cpu
torchvision==0.15.2
transformers==4.30.2
urllib3==1.26.6
uvicorn==0.22.0